{% load i18n %}
<div class="card card-bordered p-4 space-y-2 phone-form">
  {% component "form_title" form=form model_name=model_name tag="h3" classes="font-semibold" %}{% endcomponent %}
  {% for field in form.visible_fields %}
  <div class="form-control">
    <label for="{{ field.id_for_label }}" class="label">
      <span class="label-text">{{ field.label }}</span>
    </label>
    {{ field }}
    {% if field.errors %}
    <p class="text-error text-xs">{{ field.errors|striptags }}</p>
    {% endif %}
  </div>
  {% endfor %}
  {% if form.DELETE %}
  <div class="form-control">
    <label for="{{ form.DELETE.id_for_label }}" class="label">
      <span class="label-text">{% trans "Remove" %}</span>
    </label>
    {{ form.DELETE }}
  </div>
  {% endif %}
</div>
