<div class="border p-2 rounded schedule-form">
  {% for field in form.visible_fields %}
  <div class="mb-2">
    <label class="block text-sm" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    {% if field.errors %}
    <p class="text-red-500 text-xs">{{ field.errors|striptags }}</p>
    {% endif %}
  </div>
  {% endfor %}
  {% if form.DELETE %}
  <div class="mb-2">
    <label class="text-sm" for="{{ form.DELETE.id_for_label }}">Remove</label>
    {{ form.DELETE }}
  </div>
  {% endif %}
</div>
