{% load i18n %}
<nav class="navbar bg-base-100 shadow mb-4">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">{% trans "Conduit" %}</a>
  </div>
  <div class="flex-none gap-2">
    <ul class="menu menu-horizontal px-1 text-sm">
      <li><a href="/">{% trans "Home" %}</a></li>
      <li><a href="{% url 'hsds:organization-list' %}">{% trans "Organizations" %}</a></li>
      <li><a href="{% url 'hsds:service-list' %}">{% trans "Services" %}</a></li>
      <li><a href="{% url 'hsds:location-list' %}">{% trans "Locations" %}</a></li>
      <li><a href="{% url 'hsds:contact-list' %}">{% trans "Contacts" %}</a></li>
    </ul>
    <form action="{% url 'hsds:search' %}" method="get" class="hidden sm:block">
      <input type="text" name="q" placeholder="{% trans 'Search...' %}" class="input input-bordered w-full max-w-xs" />
    </form>
  </div>
</nav>
