{% extends "hsds/base.html" %}
{% load i18n %}

{% block content %}
<div class="grid gap-8 md:grid-cols-3">
  <a href="{% url 'pulse:dashboard' %}" class="card bg-base-100 shadow-lg hover:shadow-xl">
    <div class="card-body">
      <h2 class="card-title">{% trans "Pulse" %}</h2>
    </div>
  </a>
  {% if user.role == 'editor' or user.role == 'administrator' %}
  <a href="{% url 'hsds:dashboard' %}" class="card bg-base-100 shadow-lg hover:shadow-xl">
    <div class="card-body">
      <h2 class="card-title">{% trans "Management" %}</h2>
    </div>
  </a>
  {% endif %}
  {% if user.role == 'administrator' %}
  <a href="{% url 'admin:index' %}" class="card bg-base-100 shadow-lg hover:shadow-xl">
    <div class="card-body">
      <h2 class="card-title">{% trans "Admin" %}</h2>
    </div>
  </a>
  {% endif %}
</div>
{% endblock %}
