{% load i18n %}
<form
  method="post"
  hx-post="{{ action }}"
  hx-target="#dialog"
  hx-swap="outerHTML"
  class="space-y-4"
>
  {% csrf_token %}
  <fieldset>
    {% component "form_title" form=form model_name=model_name %}{% endcomponent %}
    {% for field in form %}
    <div class="form-control">
      <label for="{{ field.id_for_label }}" class="label">
        <span class="label-text">{{ field.label }}</span>
      </label>
      {{ field }}
      {% if field.errors %}
      <p class="text-error text-xs">{{ field.errors|striptags }}</p>
      {% endif %}
    </div>
    {% endfor %}
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
  </div>
</form>
