{% extends "pulse/base.html" %}
{% load i18n component_tags %}

{% block title %}{% trans "New Resource – Organization" %}{% endblock %}

{% block pulse_content %}
<form method="post" class="max-w-xl mx-auto space-y-8">
  {% csrf_token %}
  <ul class="steps w-full">
    <li class="step step-primary">{% trans "Org" %}</li>
    <li class="step">{% trans "Location" %}</li>
    <li class="step">{% trans "Service" %}</li>
  </ul>
  {% component 'form_field' name='name' label=_('Organization Name') required=True %}{% endcomponent %}
  <button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
</form>
{% endblock %}
