{% load i18n component_tags %}
<form
  id="contacts-form"
  data-resource-form
  hx-patch="{% url 'resources:resource-detail' resource.service.id %}"
  hx-target="this"
  hx-swap="none"
  class="space-y-4"
>
  {% csrf_token %}
  {% component 'form_field' name='service.url' label=_('Website') value=resource.service.url %}{% endcomponent %}
  {% component 'validator' field='service.url' %}{% endcomponent %}

  {% component 'form_field' name='service.email' label=_('Email') value=resource.service.email %}{% endcomponent %}
  {% component 'validator' field='service.email' %}{% endcomponent %}

  <button type="submit" class="hidden">{% trans "Save" %}</button>
</form>
